PORT=9000
NODE_ENV=development
DATABASE_URL=postgresql://postgres:dev@localhost:5432/cloudcanvas
MICROSERVICE_BASE_URL=http://localhost:8000
JWT_SECRET=jwt_secret_key
AWS_REGION=ap-south-1
AWS_ENCRYPTION_KEY=replace_with_a_long_random_secret